header {
    background-color: #236192;
}
header > figure > img {
    display: block;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    }
body {
    background-color: #658D1B;
}
nav {
    text-align:center;
    }
nav ul {
    display:inline-block;
    }
nav ul li {
    display:inline-block;
    margin-right: 20px;
    }
a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
h1, h2 {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D252D;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1D252D;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
article {
    padding: 0px 0px 0px 50px;
}
aside {
    float: right;
    padding: 0px 100px 0px 100px;
    }
footer {
    text-align: center;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
  }
  
  input {
    height: 10px;
    flex: 0 0 200px;
    margin-left: 5px;
    margin-right: 10px;
  }